<%= form_for(@college) do |f| %>
  <% if @college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
      <% @college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :Address %>
  </div>
  <div class="field">
    <%= f.label :Fest_name %><br>
    <%= f.text_field :Fest_name %>
  </div>
  <div class="field">
    <%= f.label :Fest_Date %><br>
    <%= f.date_select :Fest_Date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
